{% extends 'base.html' %}
{% block body %}
<html>
<head>
  <script data-ad-client="ca-pub-1353695047899131" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>The BookRiot</h1>
    <p>The Complete Home for Books</p>
  </div>
  <div class="jumbotron">
  	<h3>Purpose of this website:</h3>
  	<p>This Online book reviewing website helps users to select the right book to buy with a Recommendation system. Book details are uploaded and managed by the users themselves and different reviews and ratings are given by different users. Based on these reviews and ratings, a user pursuing to buy a book of some genre, author etc. are recommended to him. They can even manually access the details of a particular book. The book recommendation system recommends books that are of user’s interest which means the system is based on collaborative filtering.</p>

<p>Books Review and Recommender system could actually help out a person who is new to a particular field. He may not be knowing what actually the book offers and end up in wasting a lot of money.
</p>
<p>The System also comprises of reviewing a particular book by those who have already used the book. Thus, the reviews could prove helpful for those who are looking forward to purchase it.
</p>
  </div>
<div class="jumbotron">
  	<h3>By:</h3>
  	<p><b>Team Runtime Cachers</b></p>
  </div>
</div>
</body>
</html>
{% endblock %}