{% extends 'base.html' %}

{% block body %}
<div class="col-lg-3 col-md-4 col-sm-6 " >
      <div class = "thumbnail">
           <img src = "{{this_book.image}}" alt = "Generic placeholder thumbnail" style="width:500px;height:600px;">
        
      
         <div class = "caption">
          <h3>{{this_book.name}}</h3>
          <p>{{this_book.author}}</p>
           <p></p>
         </div>
      </div>
</div>
 
<div class="" >
      <div class="" >
                   
      
		  <font color="white">         
          <h3><b>{{this_book.name}}</b></h3>
          <p><b>Author:</b> {{this_book.author}}</p>
           <p><b>Price:</b> ₹ {{this_book.price}}</p>
           <p><b>Category:</b> {{this_book.type}}</p>
           <p><b>Book added by User:</b> {{this_book.added_by_user}}</p>
 			</font>
            <a href = "#" class = "btn btn-danger" role = "button">
                 Read Sample <span class="glyphicon glyphicon-book"></span>
              </a>
 
         
      </div>
</div>
<br style="line-height:38;">
<hr>
<form method="post">
    {% csrf_token %}
    {{ review_form.as_p }}
    <button type="submit" class="btn btn-online-success">Review</button>
</form>
<div class="container">
  <div class="jumbotron">
    <font color="blue"><h2><i><b>Reviews:</b></i></h2></font>
  </div>
</div>
<div class="container">
<div class="jumbotron">
{% if reviews %}
  <h4><b>{{reviews.count}} Review{{reviews|pluralize}}</b></h4>
{% for review in reviews %}
<blockquote class="blockquote">
  <p class="mb-0">{{review.content}}</p>
  <footer class="blockquote-footer">by <cite title="Source Title">{{review.user.first_name|capfirst}} {{review.user.last_name|capfirst}} (@{{review.user.username}})<br>{{review.time_added}}</cite></footer>
</blockquote>
{% endfor %}
{% else %}
<h3><b><i>Book hasn't been reviewed by any user yet.</i></b></h3>
{% endif %}
</div>
</div>
{% endblock %}